{% extends "template.html" %}
<!-- main music page where you can use the beatmaker -->
{% block head %}
<link rel="stylesheet" href="/static/styles/other.css">
{% endblock %}

{% block body %}

<!-- log in or out button -->
{% if login == True %}
<div class="log">log out</div>
{% else %}
<div class="log">log in</div>
{% endif %}

<!-- data attribute only to pass data to js -->
<main data-user="{{userdata}}">
    <div class="container">
        <span id="line"></span>
        <table>
            <tbody>
                <!-- create grid of 3 by 20 to place the bits in -->
                {% for i in range(3) %}
                <tr>
                    {% for j in range(20) %}
                    <td data-x="{{j}}" data-y={{i}}></td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <!-- control panel to adjust bpm and play music -->
    <div class="controls">
        <img src="/static/resources/play.png" alt="play">
        <input type="number" name="bpm" value="180">
        <h4>bpm</h4>
    </div>
</main>

<!-- navbar with all bits and other functionalities -->
<nav>
    <!-- some functions are only for logged in users -->
    {% if login == True %}
    <div class="sidenav nav dashboard"></div>
    {% endif %}
    <div class="sidenav nav erase"></div>
    <div class="nav mainnav">
        {% for block in blocks %}
        <span class="block" data-audio="{{ block.path }}">{{ block.name }}</span>
        {% endfor %}

    </div>
    <div class="sidenav nav delete"></div>
    {% if login == True %}
    <div class="sidenav nav swap"></div>
    {% endif %}
</nav>

<!-- dynamic modal popup -->
<div class="popup">
    <span class="backdrop return"></span>
    <div class="modal">
        <p>Are you sure you want to delete your beats?</p>
        <div>
            <p></p>
            <p></p>
            <button class="confirm">yes</button>
            <button class="return">no</button>
        </div>
    </div>
</div>

<!-- info button -->
<div id="info" class="topico">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
        <path
            d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z" />
        <path
            d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z" />
    </svg>
</div>
<script src="/static/scripts/other.js"></script>
{% endblock %}